fastapi==0.112.2
uvicorn[standard]==0.30.6
pydantic==2.9.1
pydantic-settings==2.4.0
python-dotenv==1.0.1
beautifulsoup4==4.12.3
lxml==5.2.2
langchain-core==0.3.7
langgraph==0.2.30
tqdm==4.66.4
urllib3==2.2.2

